@model EmployeeReviewer.Review

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Create Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

        <dt>
            Reviewr Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reviewer.Employee.EmployeeName)
        </dd>

        <dt>
            Review Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewType1.ReviewType1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <div class="form-row">
        <input type="submit" value="Delete" class="btn btn-danger mr-2" />
        <a href="@Url.Action("Index", "Reviews")" class="btn btn-dark">Back to List</a>
    </div>
</div>
    }
</div>
