@model EmployeeReviewer.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date Created
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerSigned)
        </dd>

        <dt>
            Employee Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

        <dt>
            Review Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewType1.ReviewType1)
        </dd>

        <dt>
            Reviewer Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reviewer.Employee.EmployeeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })
</p>
